.container {
	width: 120%;
}

#new-button {
	margin: 0px 10px 10px 0px;
}

.card {
	margin-bottom: 15px;
}

.jumbotron {
	background-image: url("dust_scratches.png");
}

.display-4 {
	font-weight: bold;
	color: #1C75CE ;
}

.card-header {
	background: #DBEAFA;
}

input {
	width: 100%;
	margin-bottom: 15px;
}

#clear-results, #submit {
	margin: 10px 10px 0 0;
}

button {
	background-color: #A4CCF3;
}