.container {
	width: 120%;
}

#new-button {
	margin: 0px 10px 10px 0px;
}

.card {
	margin-bottom: 15px;
}

img {
	
}

input {
	width: 100%;
	margin-bottom: 15px;
}

#clear-results {
	margin-top: 15px;
}